.header{
    font-size: 30px;
    text-align: center;
    
    color: cornsilk;
   
    background-image: url("../cancer-module2/image2.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 150px;

    
}
h3{
    text-align: center;
    background-color: darksalmon;
}